{% extends 'base.html.twig' %}
{% block body %}
     <div class="starter-template">
    <h1 class="display-1">PMSG Sistema de Cadastro Geral de Funcionários</h1>
    <p class="lead">Integrando para melhorar a comunicação</p>
  </div>
{% endblock %}
